/* Author: Asadullah; Roll No: 18L-1008 */

.cart_table_heading {
  text-transform: uppercase;
  font-size: 13px;
  color: #333333;
}
.cart_table_heading > span {
  display: flex;
  justify-content: center;
}

.cart_summary {
  margin: 70px 0;
}

.cart_table {
  width: 100%;

  border: 1px solid rgb(0, 0, 0, 0.1);
}

.cart_total_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

/* Cart totals css starts */

.cart_total {
  border: 1px solid rgb(0, 0, 0, 0.1);
  width: 340px;
  background-color: #f7f7f7f7;
  font-size: 14px;
}

.cart_total_sub {
  font-weight: 600;
  color: #333333;
  padding: 6px 0;
  padding-left: 12px;
}

.cart_total_res {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
}

#discount {
  background-color: #fe2e3e;
  color: #ffffff;
}

.cart_total_res .total {
  font-weight: 500;
}
.proceed_to_checkout {
  width: 340px;
}

/* Cart totals css ends */
